@font-face {
  font-family: "iconfont"; /* Project id 4049532 */
  src: url('iconfont.woff2?t=1683203866926') format('woff2'),
       url('iconfont.woff?t=1683203866926') format('woff'),
       url('iconfont.ttf?t=1683203866926') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-houqiweihuweihuweihuguanli:before {
  content: "\e68d";
}

.icon-loading:before {
  content: "\e644";
}

.icon-dui:before {
  content: "\e63f";
}

.icon-github:before {
  content: "\e691";
}

.icon-mianfei-xianxing:before {
  content: "\e8b1";
}

.icon-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.icon-bolangneng:before {
  content: "\e745";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-zuozhe:before {
  content: "\e65c";
}

.icon-pinglun:before {
  content: "\e658";
}

.icon-youxiang:before {
  content: "\e645";
}

.icon-24gf-telephone:before {
  content: "\e96c";
}

.icon-yanjing_kai:before {
  content: "\e61b";
}

.icon-yanjing_bi:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-jiandanmoxing:before {
  content: "\e639";
}

.icon-xiaoxi:before {
  content: "\e6b4";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-security:before {
  content: "\e667";
}

.icon-gengxin:before {
  content: "\e74b";
}

.icon-dizhi:before {
  content: "\e609";
}

.icon-wodedongtai:before {
  content: "\e69d";
}

.icon-renqiredu:before {
  content: "\e708";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-yueliang:before {
  content: "\e67b";
}

