@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1681212624786') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-houqiweihuweihuweihuguanli:before {
  content: "\e68d";
}

.icon-dui:before {
  content: "\e63f";
}

.icon-github:before {
  content: "\e691";
}

.icon-mianfei-xianxing:before {
  content: "\e8b1";
}

.icon-zhucetianjiahaoyou:before {
  content: "\e8ca";
}

.icon-bolangneng:before {
  content: "\e745";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-youxiang:before {
  content: "\e645";
}

.icon-24gf-telephone:before {
  content: "\e96c";
}

.icon-yanjing_kai:before {
  content: "\e61b";
}

.icon-yanjing_bi:before {
  content: "\e601";
}

.icon-jiandanmoxing:before {
  content: "\e639";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-security:before {
  content: "\e667";
}

.icon-gengxin:before {
  content: "\e74b";
}

.icon-dizhi:before {
  content: "\e609";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-yueliang:before {
  content: "\e67b";
}

