/* 
    ***************
    **default css**
    *************** 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a5d8ff;
  font-family: sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

input {
  padding: 0.8rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
}

input::placeholder {
  color: #777;
}

button {
  padding: 0.8rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
    ***************
    ***html css****
    *************** 
*/

html {
  font-size: 62.5%;
}

/* 
    **************************
    ***loading section css****
    ************************** 
*/
.loading {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

@keyframes color {
  100% {
    background-color: #1c7ed6;
    transform: scale(1.5);
  }
}

@keyframes move {
  100% {
    left: 49.2%;
    bottom: 51%;
    transform: scale(1.5);
  }
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}

.white-moon {
  margin: 40vh auto;
  width: 9.6rem;
  height: 9.6rem;
  background-color: #fff;
  border-radius: 50%;
  animation: color 6s linear forwards;
}

.black-moon {
  position: absolute;
  left: 55%;
  bottom: 60%;
  width: 9.6rem;
  height: 9.6rem;
  background-color: #000;
  border-radius: 50%;
  animation: move 6s linear forwards;
}

/* 
    *********************
    **login section css**
    ********************* 
*/

.login {
  margin: 30vh auto;
  width: 25%;
  padding: 2.4rem;
  background-color: skyblue;
  border: 1px solid #666;
  border-radius: 15px;
  transition: all 0.5s;
}

.login-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.btn-login {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
  text-align: center;
}

.btn-login:hover {
  background-color: #4dabf7;
}

.login-sign-up {
  text-align: center;
}

.login-sign-up:hover {
  text-decoration: underline;
}

/* 
    ***********************
    **welcome section css**
    *********************** 
*/
@keyframes fadein {
  to {
    opacity: 1;
  }
}

.welcome {
  background-color: skyblue;
  opacity: 0;
}

.welcome-header {
  padding: 2.4rem 4.8rem;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo img {
  width: 5rem;
}

.logo h1 {
  font-size: 3rem;
  color: #00a9f2;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 9.6rem;
  height: 100%;
}

.navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #444;
}

.navigation a:hover {
  color: #00a9f2;
}

.navigation-login {
  padding: 1.2rem 2.4rem;
  background-color: #00a9f2;
  color: #fff !important;
  border-radius: 10px;
}

.navigation-login:hover {
  background-color: #1c7ed6;
}
