/* 
    ****************************************
    *******personal page loading css********
    **************************************** 
*/
@keyframes personal-loading-opacity {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.personal-loading {
  opacity: 0;
  filter: blur(3px);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  overflow: hidden;
  animation: personal-loading-opacity 5s linear forwards;
}

.personal-loading .welcome-p {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.center {
  position: relative;
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
  transform-style: preserve-3d;
}

@keyframes center-moon {
  to {
    box-shadow: 0 0 50px 10px #00a9f2;
  }
}

@keyframes rotate-html {
  to {
    transform: translate(-50%, -50%) rotateX(60deg) rotateZ(360deg);
  }
}

@keyframes rotate-css {
  to {
    transform: translate(-50%, -50%) rotateX(60deg) rotateY(-30deg)
      rotateZ(360deg);
  }
}

@keyframes rotate-js {
  to {
    transform: translate(-50%, -50%) rotateX(60deg) rotateY(-150deg)
      rotateZ(360deg);
  }
}

@keyframes track-line {
  to {
    box-shadow: 0 0 5px 5px #00a9f2;
  }
}

@keyframes loading-icon {
  to {
    transform: rotate(360deg);
  }
}

.center-moon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 1px 1px #74c0fc;
  animation: center-moon 2s infinite alternate linear;
}

.center-moon img {
  width: 100%;
}

.html,
.css,
.js {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 2rem;
  transform-style: preserve-3d;
}

.html {
  width: 25rem;
  height: 25rem;
  transform: translate(-50%, -50%) rotateX(60deg);
  animation: rotate-html 6s infinite linear,
    track-line 2s infinite linear alternate;
}

.css {
  width: 30rem;
  height: 30rem;
  transform: translate(-50%, -50%) rotateX(60deg) rotateY(-30deg);
  animation: rotate-css 5s infinite linear,
    track-line 2s infinite linear alternate;
}

.js {
  width: 35rem;
  height: 35rem;
  transform: translate(-50%, -50%) rotateX(60deg) rotateY(-150deg);
  animation: rotate-js 5s infinite linear,
    track-line 2s infinite linear alternate;
}

.html .text-html,
.css .text-css {
  color: #00a9f2;
  transform: rotateX(-45deg);
}

.js .text-js {
  color: #00a9f2;
  transform: rotateY(180deg) rotateX(-45deg);
}

.personal-loading .loading-p {
  font-size: 1.8rem;
}

.personal-loading .loading-p span {
  display: inline-block;
  font-size: 3rem !important;
  margin-right: 10px;
  animation: loading-icon 2s linear infinite;
}

/* 
    ****************************************
    *************personal page css**********
    **************************************** 
*/
@keyframes personal-page-fade-in {
  to {
    opacity: 1;
  }
}

.personal-page {
  margin: 0 auto;
  max-width: 130rem;
  border: 1px solid #f6f6f6;
  opacity: 0;
}

/* ***************header************** */
.personal-page-header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.2rem;
  width: 100%;
  /* border: 1px solid #00a9f2; */
  /* background-color: orange; */
}

.header-left,
.header-right {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-page-header-logo {
  display: flex;
  align-items: center;
}

.personal-page-header-logo span {
  color: #00a9f2;
  font-size: 2rem;
  font-weight: 600;
}

.header-time {
  font-size: 1.4rem;
}

.header-center {
  flex: 1;
  margin: 0 4.8rem;
  display: flex;
  align-items: center;
}

.header-center li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.8rem;
  border: 1px solid #00a9f2;
  border-radius: 10px;
}

.header-input-search {
  flex: 9;
  border: none;
  height: 35px;
}

.header-search-icon {
  flex: 1;
}

.header-right {
  font-size: 1.4rem;
}

.user-head {
  width: 6rem;
  height: 6rem;
  background-color: skyblue;
  border: 1px solid grey;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}

.user-head img {
  width: 100%;
  cursor: pointer;
}

.user-head:hover {
  transform: scale(1.2);
}

.have-icon a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.have-icon a:hover span,
.have-icon a:hover p {
  color: #00a9f2;
}

.have-icon a span,
.have-icon a p {
  transition: all 0.5s;
}

.have-icon a span {
  font-size: 2rem !important;
}

.publish {
  width: 8rem;
  height: 4rem;
  background-color: #00a9f2;
  border-radius: 10px;
  text-align: center;
  line-height: 3;
  transition: all 0.5s;
}

.publish:hover {
  background-color: #228be6;
}

/* ***************main************** */
.personal-page-main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

/* banner */
.banner {
  position: relative;
  width: 65rem;
  height: 36.6rem;
  background-color: skyblue;
  border-radius: 10px;
  overflow: hidden;
}

.banner img {
  width: 65rem;
}

.banner ul {
  position: absolute;
  left: 0;
  display: flex;
}

.banner .left,
.banner .right {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 0.2);
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.banner .left:hover,
.banner .right:hover {
  background-color: rgba(256, 256, 256, 0.5);
}

.banner .left {
  bottom: 3rem;
  right: 6rem;
}

.banner .right {
  bottom: 3rem;
  right: 2rem;
}

.banner-ol {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.banner-ol li {
  width: 2rem;
  height: 2rem;
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.banner-ol-current-li {
  background-color: rgba(256, 256, 256, 0.8) !important;
}

/* location */
.location {
  margin: 0 1rem;
  height: 36.6rem;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}

.location span {
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.location .map {
  width: 100%;
  height: 100%;
  background-color: #228be6;
}

/* weather */
.weather {
  display: flex;
  flex-direction: column;
  height: 36.6rem;
}

.location-detail {
  flex: 2;
  font-size: 1rem;
  text-align: center;
}

.weather-detail {
  flex: 8;
}

.weather ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.weather ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.weather ul li .property {
  font-size: 1.6rem;
}

.weather ul li .value i {
  font-size: 8rem !important;
  color: #666;
}

.weather ul .weather-text .value {
  font-size: 2rem;
}

.personal-page-aside {
  margin-top: 1rem;
  width: 100%;
  /* border: 1px solid #00a9f2; */
  /* border-radius: 10px; */
}

.to-do-list {
  padding: 0.5rem;
  width: 33%;
  border: 1px solid #00a9f2;
  border-radius: 10px;
}

.to-do-list-title {
  display: flex;
  align-items: center;
}

.to-do-input-label {
  flex: 2;
  font-size: 1.6rem;
  font-weight: 600;
  color: #555;
}

.to-do-input {
  flex: 8;
  border: none;
}

.to-do-list ol li,
.to-do-list ul li {
  padding: 0 0 1rem 1rem;
  font-size: 1.6rem;
}

.to-do-list ol li:first-child,
.to-do-list ul li:first-child {
  padding-top: 1rem;
}

.to-do-list li input {
  margin-right: 1rem;
}
